[Unit]
Description=esp32 proxy service

[Service]
Type=simple
ExecStart=/var/lib/mini_pupper_bsp/esp32-proxy
Restart=on-failure
RestartSec=1
UMask=000
User=root

[Install]
WantedBy=sysinit.target
